<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <header>
       </header>
    <div class="weather-title">
      <h1> Weather</h1>
      <p>View the current weather for any city</p>
    </div>
    <form action="/" method="POST">
      <input type="text" name="city"  placeholder="Enter a city">
    </form>

    <div class="result">
      <% if(temp !== null)  {%>
        <h1 class="temp"><%= temp +"°C" %></h1>
      <% } %>
      
      <% if(humidity !== null)  {%>
        <h1 class="humidity"><%= humidity  %>
        <img class="icon" src="/css/humidity.jpg" alt=""></h1>
      <% } %>
        <% if(des !== null)  {%>
          <h3><%= des %></h3>
        <% } %>
      
      <% if(city !== null)  {%>
        <p class="city"><%= city %></p>
      <% } %>
    </div>
  </div>
</body>
</html>
